a {
    text-decoration: none;
}

.comment-input-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr 25fr);
    padding: 10px 0 10px 0;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.h3link {
    text-decoration: none;
    color: whitesmoke;
  }

.h5link {
    text-decoration: none;
    color: grey;
    font-weight: 400;
  }

.h5link:hover {
    color: whitesmoke
  }

.main-video-column {
    width: 75%;
    padding: 10px;
}

.main-video-column h3 {
    padding: 5px 0 5px 0;
}

.main-video-column video {
    width: 100%;
}

.profile-picture {
    border-radius: 100%;
}

.sidebar {
    width: 25%;
    padding: 10px;
}

.sidebar-thumbnail img {
    max-width: 100%;
    height: 70px;
    border-radius: 7%;
    width: 300px;
    /* Object fit clips the images so they are not distorted */
    object-fit: cover;

}

.sidebar-video {
    display: grid;
    grid-template-columns: repeat(1, 45fr 55fr);
    padding-bottom: 8px;

}

.sidebar-video-details {
    padding-left: 8px;
    text-decoration: none;
}

.session-user-profile-picture {
    border-radius: 100%;
}

.video-owner-details {

}

.video-owner-details img,
.video-owner-details h5 {
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  padding: 5px 10px 5px 0;
}

.video-description {
    background-color: rgb(54, 54, 54);
    padding: 5px 0 5px 0;
    margin: 10px 0 10px 0;
    height: 80px;
    border-radius: 10px;
}

.video-description h6,
.video-description p {
    padding: 5px;
}
