a {
    text-decoration: none;
}

.comment-input-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr 25fr);
    padding: 10px 0 10px 0;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    max-width: inherit;
}

.comment-count {
    margin: 15px 0 15px 0;
}

.comment-count h4 {
    font-weight: normal;
}



.h5link {
    text-decoration: none;
    color: grey;
    font-weight: 400;
  }

.h5link:hover {
    color: whitesmoke
  }

.like-button {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    margin: 0px 5px 0 5px;
}

.like-button i {
    padding: 5px;
}

#user-has-liked {
    padding: 5px;
    color: rgb(69, 180, 223);
}

#user-has-not-liked {
    padding: 5px;
    color: whitesmoke
}

.like-count {
    margin: 0px 5px 0 5px;
    padding: 2px;
}

.like-info-container {
    display: flex;
    align-items: center;
    background-color: rgb(54, 54, 54);
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}

.like-info-container:hover {
    background-color: rgb(72, 72, 72);
}

.main-video-container {
    width: 100%;
    max-height: 600px;
    display: flex;
    justify-content: center;
  }

.main-video-column {
    width: 75%;
    padding: 10px;
}

.main-video-name {
    /* padding: 10px 0 10px 0; */
    word-break: break-all;
}

.main-video {
    width: 100%;
    max-height: 600px;
}

.name-like-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 5px;
    height: 40px;
}

.profile-picture {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    /* Object fit clips the images so they are not distorted */
    object-fit: cover;
    margin-right: 10px;
}

.owner-details-profile-icon {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: whitesmoke;
    background-color: rgba(21, 21, 169, 0.703);
    font-weight: normal;
    text-align: center;
    padding-top: 5px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.profile-icon {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: whitesmoke;
    background-color: rgba(21, 21, 169, 0.703);
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sidebar {
    width: 25%;
    padding: 10px;
}

.sidebar-thumbnail img {
    max-width: 100%;
    height: 90px;
    border-radius: 10px;
    width: 300px;
    /* Object fit clips the images so they are not distorted */
    object-fit: cover;

}

.sidebar-video {
    display: grid;
    grid-template-columns: repeat(1, 45fr 55fr);
    padding-bottom: 8px;
    /* max-width: 230px; */
}

.sidebar-video-name {
    text-decoration: none;
    color: whitesmoke;
    max-height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    word-break: break-word;
  }

.sidebar-video-details {
    padding-left: 8px;
    text-decoration: none;
}

.session-user-profile-picture {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    /* Object fit clips the images so they are not distorted */
    object-fit: cover;
    margin-right: 10px;
}

.video-owner-details {
    margin: 5px 0 5px 0;
}

.video-owner-details img,
.video-owner-details h4,
.video-owner-details h3 {
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  vertical-align: middle;
}

.video-description {
    background-color: rgb(54, 54, 54);
    padding: 5px 0 5px 0;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    word-break: break-word;
    max-height: fit-content;
    min-height: 80px;

}

.video-description h5 {
    padding: 5px 5px 5px 10px;
    flex-grow: 1;
    font-weight: normal;
}
