.buttons-container {
    text-align: right;
}

.buttons-container button {
    padding: 5px;
}

.cancel-button {
    cursor: pointer;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    padding: 5px;
    font-weight: bold;
}

.cancel-button:hover {
    cursor: pointer;
    margin-right: 10px;
    background-color: rgb(65, 64, 64);
    border-radius: 3px;
    border: none;
    color: whitesmoke;
    padding: 5px;
    font-weight: bold;
}

.edit-video-form {
    background-color: #282828;
    color: whitesmoke;
    padding: 15px;
    width: 625px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
}

#loading-icon {
    color: whitesmoke;
}

.errors {
    margin: 15px 0 15px 0;
    color: rgba(255, 0, 0, 0.591);
}

.header {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.input input {
    width: 100%;
    border: none;
    padding: 5px 0 5px 0;
    background-color: transparent;
    color: whitesmoke;
    border-bottom: 2px solid gray;
    outline: none;
    transition: border-color 0.3s;
    margin-bottom: 10px;
}

.input label {
    color: gray;
}

.input textarea {
    width: 100%;
    border: none;
    padding: 5px;
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid gray;
    outline: none;
    transition: border-color 0.3s;
    margin-bottom: 10px;
    height: 125px;
    font: inherit;
}


.input input:focus {
    border-color: whitesmoke;
}

.input textarea:focus {
    border-color: whitesmoke;
}

.submit-button {
    background-color: rgb(65, 64, 64);
    border-radius: 3px;
    border: none;
    color: grey;
    padding: 5px;
    font-weight: bold;
}

.submit-button-active {
    cursor: pointer;
    background-color: rgb(69, 180, 223);
    border: none;
    color: black;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
}

.submit-button-active:hover {
    cursor: pointer;
    background-color: rgb(108, 205, 244);
    border: none;
    color: black;
    padding: 5px;
    font-weight: bold;
}

.thumbnail {
    margin-top: 10px;
}

.thumbnail label {
    padding-right: 10px;
    color: gray;
}
