.buttons-container {
    width: 200px;
    height: 75px;
    display: flex;
    flex-direction: column;
    background-color: #282828;


}

.buttons-container button {
    color: whitesmoke;
    background-color: transparent;
    font-weight: bold;
    /* justify-content: center;
    align-items: center; */

    /* border: none; */
}

.unauthorized-icon {
    cursor: not-allowed;
  }
