.buttons-container {
    text-align: right;
}

.buttons-container button {
    padding: 5px;
}

.cancel-button {
    cursor: pointer;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    padding: 5px;
    font-weight: bold;
}

.cancel-button:hover {
    cursor: pointer;
    margin-right: 10px;
    background-color: rgb(65, 64, 64);
    border-radius: 3px;
    border: none;
    color: whitesmoke;
    padding: 5px;
    font-weight: bold;
}

.delete-playlist-modal {
    background-color: #282828;
    color: whitesmoke;
    padding: 15px;
    width: 350px;
    height: 100px;
}

.header {
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.submit-button-active {
    cursor: pointer;
    background-color: rgba(223, 69, 69, 0.788);
    border: none;
    color: whitesmoke;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
}

.submit-button-active:hover {
    cursor: pointer;
    background-color: rgba(234, 121, 121, 0.788);
    border: none;
    color: whitesmoke;
    padding: 5px;
    font-weight: bold;
}
