.footer {
    display: flex;
    bottom: 0;
    position: fixed;
    justify-content: center;
    width: 100%;
    background-color: rgb(0, 0, 62);
    padding: 7px;
    box-sizing: border-box;
  }

  .container {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 100%;
  }

  .container li {
    display: flex;
    justify-content: center;
  }

  .name {
    font-weight: bold;
    font-size: 16px;
  }

  .link {
    font-size: 14px;
  }

  .link:hover {
    text-decoration: underline;
  }
