.buttons-container {
    text-align: right;
}

.buttons-container button {
    padding: 5px;
}

.cancel-button {
    cursor: pointer;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
}

.cancel-button:hover {
    cursor: pointer;
    margin-right: 10px;
    background-color: rgb(65, 64, 64);
    border-radius: 3px;
    border: none;
    color: whitesmoke;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
}

.header {
    margin-bottom: 10px;
}

.new-playlist-button {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}

.new-playlist-form {
    background-color: #282828;
    color: whitesmoke;
    padding: 15px;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-playlist-button-container {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}

.new-playlist-button-container:hover {
    cursor: pointer;
    background-color: rgb(65, 64, 64);
    border-radius: 3px;
    color: whitesmoke;
}

.no-playlists-message {
    font-weight: normal;
    text-align: center;
}

.playlists-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.playlist-input-box {
    width: 100%;
    border: none;
    padding: 5px 0 5px 0;
    background-color: transparent;
    color: whitesmoke;
    border-bottom: 2px solid gray;
    outline: none;
    transition: border-color 0.3s;
    margin-bottom: 10px;
}

.playlist-input-box:focus {
    border-color: whitesmoke;
  }

.submit-button {
    background-color: rgb(65, 64, 64);
    border-radius: 3px;
    border: none;
    color: grey;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
}

.submit-button-active {
    cursor: pointer;
    background-color: rgb(69, 180, 223);
    border: none;
    color: black;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
}

.submit-button-active:hover {
    cursor: pointer;
    background-color: rgb(108, 205, 244);
    border: none;
    color: black;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
}

.user-playlists {
    margin: 2px 0
}

.user-playlists input {
    margin-right: 5px;
}

.user-playlists label {
    font-size: 12px;
}
