.first-last-name {
    padding-bottom: 5px;
}

.name-icon-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.playlist-page-container {
    margin: 20px;
    display: flex;
    column-gap: 40px;
}

.playlist-thumbnail {
    width: 300px;
    height: 165px;
    border-radius: 20px;
    object-fit: cover;
}

.playlist-name {
    padding: 5px 0;
}

.playlist-video {

    height: 110px;
    border-radius: 10px;
    min-width: 200px;
    width: 200px;
    /* Object fit clips the images so they are not distorted */
    object-fit: cover;
}

.playlist-video-count {
    color: grey;
    font-weight: normal;
}

.playlist-thumbnail-container {
    display: flex;
    flex-direction: column;
}

.playlist-videos-container {
    display: flex;
    flex-direction: column;
}

.sidebar-video {
    display: grid;
    grid-template-columns: repeat(1, 1fr 4fr);
    padding-bottom: 8px;
    /* max-width: 230px; */
}

.sidebar-video-details {
    padding-left: 8px;
    text-decoration: none;
}

.sidebar-video-name {
    text-decoration: none;
    color: whitesmoke;
    max-height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    word-break: break-word;
  }
