a {
    text-decoration: none;
}

.all-videos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}

.video-name {
    text-decoration: none;
    color: whitesmoke;
    max-height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
  }

.h5link {
    text-decoration: none;
    color: grey;
    font-weight: 400;
  }

.h5link:hover {
    color: whitesmoke
  }

.thumbnail {
    height: 185px;
    border-radius: 20px;
    width: 310px;
    /* Object fit clips the images so they are not distorted */
    object-fit: cover;
}

.profile-picture {
    border-radius: 100%;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    /* Object fit clips the images so they are not distorted */
    object-fit: cover;
}

.profile-icon {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    color: whitesmoke;
    background-color: rgba(21, 21, 169, 0.703);
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    background-color: transparent;
    color: whitesmoke;
    height: 30px;
    width: 45%;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 5px;

}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    /* position: absolute; */
    /* top: 0%; */

}

.splash-page-container {
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.video {
    padding: 10px
}

.video-info {
    display: flex;
    flex-direction: row;
    padding: 5px 5px 5px 0px;
    width: 310px;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    /* white-space: nowrap; */
}
