.search-bar {
    background-color: transparent;
    height: 30px;
    border-radius: 30px;
    border: 1px solid gray;
    width: 80%;
    padding: 5px 5px 5px 10px;
    color: white;
}

.search-bar-container {
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
}

.search-button-container {
    margin-left: 10px;
    left: 355px;
    position: absolute;
    color: gray;
}

.search-button-container:hover {
    cursor: pointer;
    color: whitesmoke;
}

#search-icon {
    padding: none;
}
