.buttons-container {
    text-align: right;
}

.buttons-container button {
    background-color: transparent;
    padding: 12px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    border: solid gray 1px;
    border-radius: 20px;
}

.buttons-container button:hover {
    background-color: transparent;
    padding: 12px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    border: solid rgb(160, 160, 160) 1px;
}

.profile-information {
    display: grid;
    grid-template-columns: repeat(1, 150px 10fr 2fr);
    margin: 10px 10px 30px 10px;
}

.profile-page-container {
    margin: 0 20px 0 20px;
}

.profile-picture {
    width: 120px;
    height: 120px;
    /* Object fit clips the images so they are not distorted */
    object-fit: cover;
    border-radius: 100%;

}

.profile-icon {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-right: 10px;
    color: whitesmoke;
    background-color: rgba(21, 21, 169, 0.703);
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.profile-playlists {
    margin: 20px 0 20px 0;
}

.profile-videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section {
    border-bottom: 1px solid gray;
}

.section-header {
    padding: 10px 0 10px 10px;
}

.single-video {
    padding: 10px;
}

.single-video img {
    /* max-width: 100%; */
    height: 105px;
    border-radius: 15px;
    width: 190px;
    /* Object fit clips the images so they are not distorted */
    object-fit: cover;

}

.single-video-details {
    display: grid;
    grid-template-columns: repeat(1, 9fr 1fr);
    max-width: 190px;
    padding-top: 5px;
    top: 50%;
    max-height: 37px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.single-video-details i {
    display: flex;
    justify-content: end;
}

.single-subscribed {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#subscribed-button button {
    background-color: transparent;
    padding: 8px;
    font-weight: bold;
    color:rgb(69, 180, 223);
    cursor: pointer;
    border: solid rgb(69, 180, 223) 1px;
    border-radius: 15px;
    font-size: 10px;
}

#subscribed-button button:hover {
    background-color: transparent;
    padding: 8px;
    font-weight: bold;
    color:rgb(108, 205, 244);
    cursor: pointer;
    border: solid rgb(108, 205, 244) 1px;
    border-radius: 15px;
    font-size: 10px;

}

.subscribed-count {
    color: grey;
    font-weight: normal;
    margin-bottom: 5px;
}

.subscribed-to-users {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 10px 40px;
    margin-bottom: 40px;
    gap: 30px 70px;
}

.subscribed-profile-picture {
    width: 90px;
    height: 90px;
    /* Object fit clips the images so they are not distorted */
    object-fit: cover;
    border-radius: 100%;
}

.subscribed-username {
    margin: 5px 0px
}

.user-info-container h5 {
    color: gray;
    font-weight: normal;
}
