.buttons-container {
    text-align: right;
}

.buttons-container button {
    background-color: transparent;
    padding: 12px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    border: solid gray 1px;
}

.buttons-container button:hover {
    background-color: transparent;
    padding: 12px;
    font-weight: bold;
    color: whitesmoke;
    cursor: pointer;
    border: solid rgb(160, 160, 160) 1px;
    cursor: not-allowed;
}

.channel-information {
    display: grid;
    grid-template-columns: repeat(1, 2fr 10fr 2fr);
    margin: 10px 10px 30px 10px;
}

.channel-page-container {
    margin: 0 20px 0 20px;
}

.channel-picture {
    width: 120px;
    height: 120px;
    /* Object fit clips the images so they are not distorted */
    object-fit: cover;
    border-radius: 100%;

}

.channel-icon {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-right: 10px;
    color: whitesmoke;
    background-color: rgba(21, 21, 169, 0.703);
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.channel-videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.single-video {
    padding: 10px;
}

.single-video img {
    max-width: 100%;
    height: 105px;
    border-radius: 15px;
    width: 190px;
    /* Object fit clips the images so they are not distorted */
    object-fit: cover;

}

.single-video-details {
    display: grid;
    grid-template-columns: repeat(1, 9fr 1fr);
    max-width: 190px;
    padding-top: 5px;
    top: 50%;
    max-height: 37px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.user-info-container h5 {
    color: gray;
    font-weight: normal;
    word-break: break-word;
}

.user-about {
    margin-top: 10px;
}
